<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <script src="/scripts/script.js"></script>

  <title>Todo-mongo</title>
</head>
<body>
  <h1>TODO</h1>
  <tr th:each="task, iterStat : ${tasks}">
    <div class="content">
      <div class="content-finalized">
        <input type="checkbox" th:attr="checked=${task.isFinalized}" th:onclick="listenUpdateCheckbox([[${task.id}]])" >
      </div>
      <div class="content-title-description">
        <td th:text="${task.title}">Title</td>
        <td th:text="${task.description}">Description</td>
      </div>
    </div>
  </tr>
</body>
</html>
